@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */
.statement {
	position: fixed;
	width: auto;
	height: auto;
	z-index: 999;
	left: 1.5%;
	bottom: 3%;
	background-color: rgba(32,33,36,0.85);
	border-radius: 4px;
	color: #FFFFFF;
	display: block;
	font-size: small;
	padding: 1.3em;
	backdrop-filter: blur(9px);
}
.statement p,h1,h2,h3,h4,h5,h6 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.WarnScreen_bg {
	transform: translateY(-100vh);
	transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0, 50, 50, 0.75);
	backdrop-filter: blur(25px);
}
.WarnScreen_button {
	margin: 50px auto;
}
.WarnScreen_button button {
	margin: auto 25px;
}
.WarnScreen_words {
	transition: all 0.3s cubic-bezier(0.68,-0.55,0.27,1.55);
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	margin: auto;
	padding: 1%;
}